@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
    outline-style: none;
}

.icon-box {
    background: linear-gradient(theme('colors.slate.900'), theme('colors.slate.900')) padding-box, conic-gradient(theme('colors.slate.400'), theme('colors.slate.700') 25%, theme('colors.slate.700') 75%, theme('colors.slate.400') 100%) border-box;
}


@layer base {
    body {
        @apply min-h-screen bg-slate-50 dark:bg-slate-900 dark:text-gray-200;
    }

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px theme('colors.slate.900');
    background-color: theme('colors.slate.500');
}

::-webkit-scrollbar {
    width: 5px;
    background-color: theme('colors.slate.500');
}

::-webkit-scrollbar-thumb {
    background-color: theme('colors.slate.900');
}